#Outros diretórios
.metadata/
RemoteSystemsTempFiles/

#Arquivos/Diretorios C++
pocoEscuro/.settings/
pocoEscuro/Debug/
pocoEscuro/Release/
pocoEscuro/.project
pocoEscuro/.cproject

#Arquivos/Diretorios Java
pocoescuroweb/.settings/
pocoescuroweb/.build/
pocoescuroweb/.project
pocoescuroweb/.classpath
pocoescuroweb/.gitignore
pocoescuroweb/web/WEB-INF/lib/pocoEscuro.so
pocoescuroweb/web/WEB-INF/lib/pocoEscuro.dll

#Arquivos/Diretorios Arduino


# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app